<section class="pb-10">
    <div class="absolute top-0 end-0 w-full z-[-1]">
        <img src="/images/top-bg.png" class="w-[75%] absolute top-0 end-0" alt="">
    </div>

    <div class="flex gap-24 items-end w-full mt-16">
        <div class="w-[60%] ps-28">
            <div class="">
                <h2 class="text-5xl font-customBold text-primaryColor capitalize">Get in <span
                        class="text-secondaryColor">touch today</span></h2>
                <p class="mt-3 text-base font-customRegular text-[#3E3E3E] mx-auto pe-32">Lorem ipsum
                    dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero
                    accumsan. </p>
            </div>

            <div class="mt-10">
                <div class="bg-[#F0F9F8] rounded-2xl p-10 overflow-hidden">
                    <div class="grid grid-cols-2 gap-5">
                        <div>
                            <label class="lable" for="">Name</label>
                            <input type="text" class="input-box" placeholder="John Carter">
                        </div>
                        <div>
                            <label class="lable" for="">Email</label>
                            <input type="text" class="input-box" placeholder="example@email.com">
                        </div>
                        <div>
                            <label class="lable" for="">Phone</label>
                            <input type="text" class="input-box" placeholder="(123) 456 - 789">
                        </div>
                        <div>
                            <label class="lable" for="">Company</label>
                            <input type="text" class="input-box" placeholder="Facebook">
                        </div>
                        <div class="col-span-2">
                            <label class="lable" for="">Message</label>
                            <!-- <input type="text" class="input-box" placeholder="Facebook"> -->
                            <textarea name="" class="input-box h-32 rounded-2xl resize-none w-full" id=""
                                placeholder="Please type your message here..."></textarea>
                        </div>
                    </div>

                    <div class="mt-5">
                        <button class="theme-button px-10 py-3 text-center">Send message</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="w-[40%] bg-[#005783] p-20 rounded-s-xl grid gap-10 pb-80">
            <h2 class="text-white text-3xl font-customBold">Contact details</h2>
            <div class="grid gap-3">
                <p class="font-customRegular text-base text-white uppercase">Our location</p>
                <h4 class="text-white font-customBold text-lg">58 Middle Point Rd<br>
                    San Francisco, 94124</h4>
            </div>

            <div class="grid gap-3">
                <p class="font-customRegular text-base text-white uppercase">Call us</p>
                <h4 class="text-white font-customBold text-lg">(123) 456 - 789</h4>
            </div>

            <div class="grid gap-3">
                <p class="font-customRegular text-base text-white uppercase">Email us</p>
                <h4 class="text-white font-customBold text-lg">contact&#64;company.com</h4>
            </div>

        </div>
    </div>
</section>