<section class="pb-10">
    <div class="absolute top-0 end-0 w-full z-[-1]">
        <img src="/images/top-bg.png" class="w-[70%] absolute top-0 end-0" alt="">
    </div>
    <div class="px-32 pt-16">
        <div>
            <h2 class="text-3xl font-customBold text-primaryColor capitalize text-center">Latest <span
                    class="text-secondaryColor">News & Updates</span></h2>
            <p class="mt-3 text-base font-customRegular text-[#3E3E3E] text-center w-[50%] mx-auto">Lorem ipsum dolor
                sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero
                accumsan. </p>
        </div>
        <div class="mt-24 bg-white border rounded-2xl border-[#98D7C6] overflow-hidden">
            <div class="grid grid-cols-2">
                <div class="relative">
                    <img src="/images/news-img.svg" class="w-full h-full" alt="">
                    <div class="absolute top-0 start-0 w-full h-full bg-[#00000099] z-10"></div>
                    <img src="/icons/play.svg" class="size-24 absolute inset-0 m-auto cursor-pointer z-20" alt="">
                </div>
                <div class="p-20 place-content-center text-start grid gap-10">
                    <img src="/images/Facebook.png" class="w-44" alt="">
                    <p class="text-[#3E3E3E] text-base font-customRegular">“Lorem ipsum dolor sit amet conse ctetur
                        adipiscing elit Vel mauris turpis vel eget nec orci nec ipsum Elementum felis eu pellentesque
                        velit vulputate. Blandit consequat facilisi sagittis ut quis Integer et faucibus elemen.”</p>
                    <div>
                        <h3 class="font-customBold text-lg text-black pb-3">John Carter</h3>
                        <p class="text-[#3E3E3E] text-sm font-customRegular">Creative Director at Facebook</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-24">
            <h2 class="text-3xl font-customBold text-primaryColor capitalize text-center">Follow us on <span
                    class="text-secondaryColor">Linkedin</span></h2>
            <p class="mt-3 text-base font-customRegular text-[#3E3E3E] text-center w-[50%] mx-auto">Lorem ipsum
                dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero
                accumsan. </p>
        </div>
    </div>

    <div class="mt-14">
        <div class="grid grid-cols-4">
            <img src="/images/img-1.png" class="w-full h-full" alt="">
            <img src="/images/img-2.png" class="w-full h-full" alt="">
            <img src="/images/img-3.png" class="w-full h-full" alt="">
            <img src="/images/img-4.png" class="w-full h-full" alt="">
        </div>

        <div class="text-center mt-10">
             <button class="theme-button px-10 py-3 text-center">Follow us</button>
        </div>
    </div>
</section>