<section class="pb-10">
    <div class="absolute top-0 end-0 w-full z-[-1]">
        <img src="/images/top-bg.png" class="w-[75%] absolute top-0 end-0" alt="">
    </div>

    <div class="px-32 pt-16">
        <div>
            <h2 class="text-5xl font-customSemiBold text-primaryColor capitalize text-center">We’re here to<br> <span
                    class="text-secondaryColor"> gurantee your success</span></h2>
        </div>

        <div class="mt-40">
            <div class="bg-[#005783] p-10 rounded-3xl w-full pb-40">
                <p class="text-xl text-white font-customLight leading-9">At Carebridge Technologies, a subsidiary of
                    Maestros Electronics, we’re driven by one goal: to connect people to care—anywhere, anytime. By
                    combining innovative devices, a secure digital platform, and expert clinical support, we make it
                    simple for providers to extend their reach beyond clinic walls.</p>
            </div>

            <div class="w-[90%] mx-auto relative top-[-80px]">
                <img src="/images/untitled.png" class="w-full" alt="">
            </div>
        </div>

        <div class="mt-10">
            <h2 class="text-5xl font-customSemiBold text-primaryColor text-center">We’re here for you<br> <span
                    class="text-secondaryColor"> no matter where you are</span></h2>
            <div class="w-[40%] mx-auto h-1 bg-secondaryColor mt-3"></div>
        </div>


    </div>

    <div class="mt-20">
        <img src="/images/WorldMap.png" class="w-full h-full" alt="">
    </div>

    <div class="mt-20 px-32">
        <div>
            <div>
                <h2 class="text-3xl font-customBold text-primaryColor capitalize text-center">Our <span
                        class="text-secondaryColor">Mission</span></h2>
                <p class="mt-3 text-base font-customRegular text-[#3E3E3E] text-center w-[50%] mx-auto">Build a wellness
                    ecosystem that empowers individuals, eases the burden on healthcare systems, and catches risks
                    before
                    they become crises.</p>
            </div>

            <div class="mt-14 grid grid-cols-3 gap-10">
                <div class="grid gap-4 place-content-baseline">
                    <div class="w-[20%] mx-auto">
                        <img src="/images/ImagePlaceholder.png" class="w-full rounded-md" alt="">
                    </div>
                    <div class="grid gap-2 w-[88%] text-center">
                        <h4 class="text-xl font-customBold text-black">Early Detection of Disease</h4>
                        <p class="text-base text-[#00000099] font-customRegular">Lorem ipsum dolor sit amet consecte tur
                            adipiscing elit semper dalar cons elementum tempus hac.</p>
                    </div>
                </div>

                <div class="grid gap-4 place-content-baseline">
                    <div class="w-[20%] mx-auto">
                        <img src="/images/ImagePlaceholder.png" class="w-full rounded-md" alt="">
                    </div>
                    <div class="grid gap-2 w-[88%] text-center">
                        <h4 class="text-xl font-customBold text-black">Remote Patient Management</h4>
                        <p class="text-base text-[#00000099] font-customRegular">Lorem ipsum dolor sit amet consecte
                            turole adipiscing elit semper dalaracc lacus velolte facilisis volutpat est velitolm.</p>
                    </div>
                </div>

                <div class="grid gap-4 place-content-baseline">
                    <div class="w-[20%] mx-auto">
                        <img src="/images/ImagePlaceholder.png" class="w-full rounded-md" alt="">
                    </div>
                    <div class="grid gap-2 w-[88%] text-center">
                        <h4 class="text-xl font-customBold text-black">Community-Driven Wellness</h4>
                        <p class="text-base text-[#00000099] font-customRegular">Lorem ipsum dolor sit amet consecte
                            turole adipiscing elit semper dalaracc lacus velolte facilisis volutpat est velitolm.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-20">
            <div>
                <h2 class="text-3xl font-customBold text-primaryColor capitalize text-center">Our <span
                        class="text-secondaryColor">Commitment</span></h2>

            </div>
            <div class="mt-14 grid grid-cols-3 gap-10">
                <div class="border border-[#99D7C3] p-7 rounded-xl bg-white">
                    <h2 class="text-4xl font-customBold text-primaryColor">99<span class="text-secondaryColor">%</span>
                    </h2>
                    <div class="mt-5">
                        <p class="font-customBold text-black text-xl">Customer satisfaction</p>
                        <p class="text-[#3E3E3E] text-base font-customRegular pt-2 pe-10">Ensuring uninterrupted access
                            for every user.</p>
                    </div>
                </div>
                <div class="border border-[#99D7C3] p-7 rounded-xl bg-white">
                    <h2 class="text-4xl font-customBold text-primaryColor">32<span class="text-secondaryColor">M</span>
                    </h2>
                    <div class="mt-5">
                        <p class="font-customBold text-black text-xl">Active users</p>
                        <p class="text-[#3E3E3E] text-base font-customRegular pt-2 pe-10">Powering millions of health
                            measurements daily.</p>
                    </div>
                </div>
                <div class="border border-[#99D7C3] p-7 rounded-xl bg-white">
                    <h2 class="text-4xl font-customBold text-primaryColor">240<span class="text-secondaryColor">%</span>
                    </h2>
                    <div class="mt-5">
                        <p class="font-customBold text-black text-xl">Company growth</p>
                        <p class="text-[#3E3E3E] text-base font-customRegular pt-2 pe-10">Accelerating adoption across
                            clinics and enterprises.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-20">
            <div>
                <h2 class="text-3xl font-customBold text-primaryColor capitalize text-center">Meet our <span
                        class="text-secondaryColor">team members</span></h2>
                <p class="mt-3 text-base font-customRegular text-[#3E3E3E] text-center w-[50%] mx-auto">Lorem ipsum
                    dolor sit amet consectetur adipiscing elit volutpat gravida malesuada quam commodo id integer nam.
                </p>
            </div>

            <div class="mt-14 grid grid-cols-3 gap-16">
                <div class="bg-[#EEF9FD] rounded-2xl py-14 px-10">
                    <img src="/images/profile.svg" class="w-36 mx-auto" alt="">
                    <div class="text-center my-7">
                        <h3 class="text-black text-2xl font-customBold pb-1">John Carter</h3>
                        <h5 class="text-[#3E3E3E] text-base font-customMedium">CEO & Co-Founder</h5>
                        <p class="text-textGray text-sm font-customLight pt-3">Lorem ipsum dolor sit amet consecte
                            adipiscing elit amet hendrerit pretium nulla sed enim iaculis mi. </p>

                    </div>
                    <ul class="flex items-center justify-center gap-5">
                        <li><a href=""><img src="/icons/facebook.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/twitter.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/instagram.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/linkedIn.svg" class="w-6" alt=""></a></li>
                    </ul>
                </div>
                <div class="bg-[#EEF9FD] rounded-2xl py-14 px-10">
                    <img src="/images/profile.svg" class="w-36 mx-auto" alt="">
                    <div class="text-center my-7">
                        <h3 class="text-black text-2xl font-customBold pb-1">John Carter</h3>
                        <h5 class="text-[#3E3E3E] text-base font-customMedium">CEO & Co-Founder</h5>
                        <p class="text-textGray text-sm font-customLight pt-3">Lorem ipsum dolor sit amet consecte
                            adipiscing elit amet hendrerit pretium nulla sed enim iaculis mi. </p>

                    </div>
                    <ul class="flex items-center justify-center gap-5">
                        <li><a href=""><img src="/icons/facebook.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/twitter.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/instagram.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/linkedIn.svg" class="w-6" alt=""></a></li>
                    </ul>
                </div>
                <div class="bg-[#EEF9FD] rounded-2xl py-14 px-10">
                    <img src="/images/profile.svg" class="w-36 mx-auto" alt="">
                    <div class="text-center my-7">
                        <h3 class="text-black text-2xl font-customBold pb-1">John Carter</h3>
                        <h5 class="text-[#3E3E3E] text-base font-customMedium">CEO & Co-Founder</h5>
                        <p class="text-textGray text-sm font-customLight pt-3">Lorem ipsum dolor sit amet consecte
                            adipiscing elit amet hendrerit pretium nulla sed enim iaculis mi. </p>

                    </div>
                    <ul class="flex items-center justify-center gap-5">
                        <li><a href=""><img src="/icons/facebook.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/twitter.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/instagram.svg" class="w-6" alt=""></a></li>
                        <li><a href=""><img src="/icons/linkedIn.svg" class="w-6" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-20">
            <div class="grid-cols-2 grid gap-16">
                <div>
                    <div class="">
                        <h5 class="text-black uppercase text-lg font-customBold pb-3">Contact us</h5>
                        <h2 class="text-4xl font-customBold text-primaryColor capitalize">Get in <span
                                class="text-secondaryColor">touch today</span></h2>
                        <p class="mt-3 text-base font-customRegular text-[#3E3E3E] mx-auto pe-32">Lorem ipsum
                            dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero
                            accumsan. </p>
                    </div>

                    <div class="mt-10 grid gap-4">
                        <div class="flex items-center gap-3">
                            <div class="w-5 relative top-[2px]">
                                <img src="/icons/email.svg" alt="">
                            </div>
                            <p class="font-customRegular text-base text-[#3E3E3E]">contact&#64;company.com</p>
                        </div>
                        <div class="flex items-center gap-3">
                            <div class="w-5 relative top-[2px]">
                                <img src="/icons/phone.svg" alt="">
                            </div>
                            <p class="font-customRegular text-base text-[#3E3E3E]">(123) 456 - 789</p>
                        </div>
                        <div class="flex items-start gap-3">
                            <div class="w-5 relative top-1">
                                <img src="/icons/mark.svg" alt="">
                            </div>
                            <p class="font-customRegular text-base text-[#3E3E3E]">794 Mcallister St<br>
                                San Francisco, 94102</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bg-[#F0F9F8] rounded-2xl p-10 overflow-hidden">
                        <div class="grid grid-cols-2 gap-5">
                            <div>
                                <label class="lable" for="">Name</label>
                                <input type="text" class="input-box" placeholder="John Carter">
                            </div>
                            <div>
                                <label class="lable" for="">Email</label>
                                <input type="text" class="input-box" placeholder="example@email.com">
                            </div>
                            <div>
                                <label class="lable" for="">Phone</label>
                                <input type="text" class="input-box" placeholder="(123) 456 - 789">
                            </div>
                            <div>
                                <label class="lable" for="">Company</label>
                                <input type="text" class="input-box" placeholder="Facebook">
                            </div>
                            <div class="col-span-2">
                                <label class="lable" for="">Message</label>
                                <!-- <input type="text" class="input-box" placeholder="Facebook"> -->
                                <textarea name="" class="input-box h-32 rounded-2xl resize-none w-full" id=""
                                    placeholder="Please type your message here..."></textarea>
                            </div>
                        </div>

                        <div class="mt-5">
                            <button class="theme-button px-10 py-3 text-center">Send message</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>